<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <%= title %>
    </h5>

    <% if (user) { %>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Home</a>
        <a class="p-2 text-dark" href="/account">Account</a>
        <a class="p-2 text-dark" href="/account/models">Models</a>
        <a class="p-2 text-dark" href="/auth/logout">Log me out</a>
    </nav>
    <% } %>

    <% if (!user) { %>
        <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-outline-primary" href="">Sign up</a>
            <a class="btn btn-outline-primary" href="/auth/login">Sign in</a>
        </div>
    <% } %>
</div>