<html>

<head>
    <% include ./partials/deps.html %>

    <style>
        .jumbotron {
            margin-top: -1rem;
            border-radius: 0;
        }
    </style>
</head>

<body>

    <% include ./partials/navbar.html %>

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">It's an augmented reality content managment system!</h1>
            <p class="lead text-muted">Create your own augmented reality space with your own models and markers in just a couple of clicks!</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Guide me!</a>
                <a href="#" class="btn btn-secondary my-2">I'll go on my own!</a>
            </p>
        </div>
    </section>


</body>

</html>